html {
  height: 100%; }

body {
  background: white;
  height: 100%;
  margin: 0;
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

header {
  margin: 0; }
  header nav > div {
    background: #3498db;
    margin-right: 10px; }
  header nav {
    display: flex;
    background: #eeeeee;
    height: 150px; }
    header nav .tools-wrapper .tools ul .active {
      border: 1px solid black;
      display: block;
      width: 30px;
      height: 30px;
      background: linear-gradient(#F1C40F, #F39C12); }
    header nav .shapes-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative; }
      header nav .shapes-wrapper .shapes {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 60px;
        height: 60px;
        border: 3px solid black; }
      header nav .shapes-wrapper .text {
        display: block; }
      header nav .shapes-wrapper .shapes-controller:hover {
        cursor: pointer; }
      header nav .shapes-wrapper .dropdown-shapes-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        height: 150px;
        background: #eee;
        border: 1px solid black;
        display: none; }
        header nav .shapes-wrapper .dropdown-shapes-wrapper .square {
          border: 1px solid red;
          width: 20px;
          height: 20px;
          cursor: pointer; }
        header nav .shapes-wrapper .dropdown-shapes-wrapper .square.active {
          background: red; }
      header nav .shapes-wrapper .dropdown-shapes-wrapper-active {
        display: block; }

.canvas-wrapper {
  height: calc(100% - 150px); }
  .canvas-wrapper .rubber-canvas-active {
    cursor: url(../img/rubber-cursor.cur), pointer; }
