html {
  height: 100%; }

body {
  background: #282828;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.1em;
  height: 100%;
  margin: 0;
  z-index: -1000;
  position: relative; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

header {
  left: 0;
  right: 0;
  position: fixed;
  margin: 0;
  background: #73716f;
  height: 171px;
  z-index: 1000; }
  header .options ul {
    background: #73716f;
    height: 100%;
    border-bottom: 1px solid MINTCREAM;
    display: flex; }
    header .options ul li {
      color: white;
      position: relative; }
      header .options ul li:hover .options-dropdown {
        display: block; }
      header .options ul li:hover .options-badge {
        color: black;
        cursor: pointer;
        background: MINTCREAM; }
        header .options ul li:hover .options-badge svg {
          transform: rotate(180deg); }
    header .options ul li:first-child {
      margin-left: 20px; }
  header .options-dropdown {
    border: 1px solid black;
    z-index: 1000;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: #eee; }
    header .options-dropdown a {
      font-size: 17px;
      white-space: pre;
      color: #285473;
      text-decoration: none;
      background: #eee;
      padding: 10px;
      display: block; }
      header .options-dropdown a:hover {
        background: #e1e5eb; }
  header .options-badge {
    line-height: 40px;
    padding: 0px 10px;
    transition: .3s;
    display: flex;
    align-items: center; }
    header .options-badge svg {
      margin-left: 5px;
      transition: .2s transform; }

header .title-canvas-wrapper {
  display: none;
  height: 30px;
  background: #282828;
  border-bottom: 1px solid MINTCREAM;
  padding-left: 20px; }
  header .title-canvas-wrapper .title-canvas, header .title-canvas-wrapper .title-canvas.active {
    padding: 0px 5px 0px 10px;
    transition: .3s;
    color: white;
    display: inline;
    cursor: pointer; }
    header .title-canvas-wrapper .title-canvas span, header .title-canvas-wrapper .title-canvas.active span {
      color: rgba(255, 255, 255, 0.6);
      margin-left: 5px; }
    header .title-canvas-wrapper .title-canvas:hover {
      background: MINTCREAM;
      color: black; }
      header .title-canvas-wrapper .title-canvas:hover span {
        color: rgba(0, 0, 0, 0.6); }

header .title-canvas-wrapper .active.title-canvas {
  background: MINTCREAM;
  color: black; }
  header .title-canvas-wrapper .active.title-canvas span {
    color: rgba(0, 0, 0, 0.6); }

header nav.main-nav > div {
  background: SILVER;
  margin-right: 10px; }

header nav.main-nav {
  border-bottom: 1px solid #000;
  display: flex;
  height: 129px; }
  header nav.main-nav .tools-wrapper {
    padding: 20px;
    display: flex;
    align-items: center; }
    header nav.main-nav .tools-wrapper .tools ul:first-child {
      margin-bottom: 10px; }
    header nav.main-nav .tools-wrapper .tools ul {
      display: flex; }
      header nav.main-nav .tools-wrapper .tools ul li a {
        text-align: center;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        width: 30px;
        height: 30px;
        border-radius: 5px; }
        header nav.main-nav .tools-wrapper .tools ul li a svg {
          font-size: 1.1em; }
        header nav.main-nav .tools-wrapper .tools ul li a:hover {
          background: #eee;
          cursor: pointer; }
      header nav.main-nav .tools-wrapper .tools ul li a.active {
        background: linear-gradient(#F1C40F, #F39C12); }
  header nav.main-nav .shapes-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    header nav.main-nav .shapes-wrapper .shapes {
      display: flex;
      margin-bottom: 10px;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      border: 3px solid black; }
    header nav.main-nav .shapes-wrapper .text {
      display: block; }
    header nav.main-nav .shapes-wrapper .shapes-controller:hover {
      cursor: pointer; }
    header nav.main-nav .shapes-wrapper .dropdown-shapes-wrapper {
      z-index: 1000;
      position: absolute;
      top: 100%;
      left: 0;
      width: 200px;
      height: 150px;
      background: #eee;
      border: 1px solid black;
      display: none; }
      header nav.main-nav .shapes-wrapper .dropdown-shapes-wrapper div {
        border: 1px solid red;
        width: 20px;
        height: 20px;
        cursor: pointer; }
      header nav.main-nav .shapes-wrapper .dropdown-shapes-wrapper div.active {
        background: red; }
    header nav.main-nav .shapes-wrapper .dropdown-shapes-wrapper-active {
      display: flex; }

.wrapper {
  position: relative;
  top: 170px;
  left: 0; }

.zoom-wrapper {
  left: 0;
  top: 0;
  position: relative;
  display: none; }
  .zoom-wrapper .canvas-wrapper.rubber-canvas-active {
    cursor: url(../img/rubber-cursor.cur), pointer; }
  .zoom-wrapper .canvas-wrapper {
    zoom: 1;
    background: #fff;
    display: block; }
    .zoom-wrapper .canvas-wrapper textarea {
      position: absolute;
      font-size: 22px;
      font-weight: 400;
      border: 1px dashed black; }
      .zoom-wrapper .canvas-wrapper textarea:focus {
        outline: none; }
    .zoom-wrapper .canvas-wrapper .main-canvas {
      display: block; }
    .zoom-wrapper .canvas-wrapper .canvas {
      display: block;
      position: absolute; }

.close-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 35px;
  background: #fff; }
  .close-wrapper .close {
    transition: .3s;
    position: absolute;
    padding: 0;
    background: transparent;
    border: none;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 35px;
    height: 35px; }
    .close-wrapper .close:focus {
      outline: none; }
    .close-wrapper .close:hover {
      background: CRIMSON;
      cursor: pointer; }
      .close-wrapper .close:hover::before, .close-wrapper .close:hover::after {
        background: white; }
    .close-wrapper .close::before, .close-wrapper .close::after {
      transition: .3s;
      position: absolute;
      left: 50%;
      top: 50%;
      content: '';
      display: block;
      width: 75%;
      height: 2px;
      background: #34495E;
      transform: translate(-50%, -50%) rotate(45deg); }
    .close-wrapper .close::after {
      transform: translate(-50%, -50%) rotate(-45deg); }

.apply {
  position: absolute;
  right: 40px;
  bottom: 25px;
  height: 35px;
  transition: .3s;
  font-size: 22px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  color: white;
  background: #73716f; }
  .apply:active {
    transform: scale(0.95); }
  .apply:focus {
    outline: none; }
  .apply:hover {
    background: #595856;
    cursor: pointer; }

.settings-window-size, .settings-new-file {
  z-index: 100000;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid blue;
  font-size: 25px;
  border-radius: 3px;
  display: none;
  background: #282828;
  position: fixed;
  padding: 75px 40px; }
  .settings-window-size .input-wrapper, .settings-new-file .input-wrapper {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between; }
    .settings-window-size .input-wrapper input, .settings-new-file .input-wrapper input {
      display: block;
      padding: 5px;
      border-radius: 3px;
      border: none; }
      .settings-window-size .input-wrapper input:focus, .settings-new-file .input-wrapper input:focus {
        outline: none; }
    .settings-window-size .input-wrapper label, .settings-new-file .input-wrapper label {
      margin-right: 10px;
      display: block;
      color: white; }
