html {
  height: 100%;
  overflow: scroll; }

body {
  background: #eee;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.1em;
  height: 100%;
  margin: 0;
  z-index: -1000;
  position: relative; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

header {
  margin: 0;
  background: #eeeeee;
  height: 171px; }
  header .options {
    height: 40px; }
    header .options ul {
      height: 100%;
      border-bottom: 1px solid #000;
      display: flex; }
      header .options ul li {
        color: #285473;
        position: relative; }
        header .options ul li:hover .options-dropdown {
          display: block; }
        header .options ul li:hover .options-badge {
          color: #fff;
          cursor: pointer;
          background: gold; }
          header .options ul li:hover .options-badge svg {
            transform: rotate(180deg); }
      header .options ul li:first-child {
        margin-left: 20px; }
    header .options-dropdown {
      border: 1px solid black;
      z-index: 1000;
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      background: #eee; }
      header .options-dropdown a {
        font-size: 17px;
        white-space: pre;
        color: #285473;
        text-decoration: none;
        background: #eee;
        padding: 10px;
        display: block; }
        header .options-dropdown a:hover {
          background: #e1e5eb; }
    header .options-badge {
      padding: 4px 10px;
      margin-right: 10px;
      transition: .3s;
      display: flex;
      align-items: center; }
      header .options-badge svg {
        margin-left: 5px;
        transition: .2s transform; }
  header nav > div {
    background: #3498db;
    margin-right: 10px; }
  header nav.main-nav {
    border-bottom: 1px solid #000;
    margin-top: 1px;
    display: flex;
    height: 129px; }
    header nav.main-nav .tools-wrapper {
      padding: 20px;
      display: flex;
      align-items: center; }
      header nav.main-nav .tools-wrapper .tools ul:first-child {
        margin-bottom: 10px; }
      header nav.main-nav .tools-wrapper .tools ul {
        display: flex; }
        header nav.main-nav .tools-wrapper .tools ul li a {
          text-align: center;
          margin-right: 15px;
          display: block;
          padding: 5px;
          width: 30px;
          height: 30px;
          border-radius: 5px; }
          header nav.main-nav .tools-wrapper .tools ul li a:hover {
            background: #eee;
            cursor: pointer; }
        header nav.main-nav .tools-wrapper .tools ul li a.active {
          background: linear-gradient(#F1C40F, #F39C12); }
    header nav.main-nav .shapes-wrapper {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative; }
      header nav.main-nav .shapes-wrapper .shapes {
        display: flex;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border: 3px solid black; }
      header nav.main-nav .shapes-wrapper .text {
        display: block; }
      header nav.main-nav .shapes-wrapper .shapes-controller:hover {
        cursor: pointer; }
      header nav.main-nav .shapes-wrapper .dropdown-shapes-wrapper {
        z-index: 1000;
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        height: 150px;
        background: #eee;
        border: 1px solid black;
        display: none; }
        header nav.main-nav .shapes-wrapper .dropdown-shapes-wrapper div {
          border: 1px solid red;
          width: 20px;
          height: 20px;
          cursor: pointer; }
        header nav.main-nav .shapes-wrapper .dropdown-shapes-wrapper div.active {
          background: red; }
      header nav.main-nav .shapes-wrapper .dropdown-shapes-wrapper-active {
        display: flex; }

.canvas-wrapper.rubber-canvas-active {
  cursor: url(../img/rubber-cursor.cur), pointer; }

.canvas-wrapper {
  zoom: 1;
  background: #fff;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: block;
  position: relative; }
  .canvas-wrapper textarea {
    position: absolute;
    font-size: 22px;
    font-weight: 400;
    border: 1px dashed black; }
    .canvas-wrapper textarea:focus {
      outline: none; }
  .canvas-wrapper #canvas {
    display: block;
    position: absolute;
    left: 0;
    top: 0; }
  .canvas-wrapper .canvas {
    display: block;
    position: absolute; }

.close-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 35px;
  background: #fff; }
  .close-wrapper .close {
    position: absolute;
    padding: 0;
    background: transparent;
    border: none;
    right: 10px;
    top: 0;
    margin: auto;
    bottom: 0;
    width: 25px;
    height: 25px; }
    .close-wrapper .close:focus {
      outline: none; }
    .close-wrapper .close:hover {
      cursor: pointer; }
      .close-wrapper .close:hover::before, .close-wrapper .close:hover::after {
        background: black; }
    .close-wrapper .close::before, .close-wrapper .close::after {
      transition: .4s;
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: #34495E;
      transform: rotate(45deg); }
    .close-wrapper .close::after {
      transform: rotate(-45deg); }

.apply {
  position: absolute;
  right: 40px;
  bottom: 25px;
  height: 35px;
  transition: .3s;
  font-size: 22px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  color: white;
  background: #16A085; }
  .apply:active {
    transform: scale(0.95); }
  .apply:focus {
    outline: none; }
  .apply:hover {
    background: #107360;
    cursor: pointer; }

.settings-window-size {
  border: 1px solid #34495E;
  font-size: 25px;
  border-radius: 3px;
  display: none;
  background: #34495E;
  position: absolute;
  padding: 75px 40px; }
  .settings-window-size .size-wrapper {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between; }
    .settings-window-size .size-wrapper input {
      display: block;
      padding: 5px;
      border-radius: 3px;
      border: none; }
      .settings-window-size .size-wrapper input:focus {
        outline: none; }
    .settings-window-size .size-wrapper label {
      margin-right: 10px;
      display: block;
      color: white; }
