
$canvas_color: #282828
$header_color: #535353
$vk_color: #e1e5eb	
$settings_color: #34495E
$link_color: #285473
$apply_color: #16A085

$menu_tools_color: #424242

$coords_color: #474747
$bg_tools: #2F4F4F

$very_high: 10000	
$high: 1000
$middle: 100
$low: 10



*
	box-sizing: border-box

html
	height: 100%
	overflow: hidden
	box-sizing: border-box
	font-size: 14px

body
	background: $canvas_color
	box-sizing: border-box
	font-family: sans-serif
	font-size: 1rem
	height: 100%
	margin: 0
	z-index: -1000
	position: relative


ul
	margin: 0
	padding: 0
	list-style: none



header
	margin: 0
	background: $header_color
	z-index: $middle
	.options 
		ul
			height: 100%
			background: $header_color
			border-bottom: 1px solid MINTCREAM
			display: flex	
			li
				color: white
				position: relative
				div
					height: 100%
				&:hover
					.options-dropdown
				 		display: block
					.options-badge
			 			color: black
			 			cursor: pointer
			 			background: MINTCREAM
			 			svg
				 			transform: rotate(180deg)

			li:first-child
				margin-left: 20px
		&-dropdown
			border: 1px solid black
			z-index: $high
			display: none	
			position: absolute
			left: 0
			top: 100%
			background: #eee
			a
				font-size: .9rem
				white-space: pre
				color: $link_color
				text-decoration: none
				background: #eee
				padding: 8px 8px	
				display: block
				&:hover
					background: $vk_color	
		&-badge
			padding: 0px 10px
			transition: .3s
			display: flex
			align-items: center
			svg
				margin-left: 5px
				transition: .2s transform


header
	.title-canvas-wrapper
		font-size: 1.2rem
		line-height: 25px
		display: none
		background: $menu_tools_color
		border-bottom: 1px solid MINTCREAM
		padding-left: 20px
		.title-canvas
			height: 100%
			padding: 0px 5px 0px 10px
			transition: .3s
			color: white
			display: inline-block
			cursor: pointer
			span
				color: rgba(255 ,255 ,255, .6)
				margin-left: 5px
			&:hover
				background: MINTCREAM
				color: black
				span
						color: rgba(0 , 0 ,0, .6)

header
	.title-canvas-wrapper
		.title-canvas.active
			@extend .title-canvas
			background: MINTCREAM
			color: black 
			span
				color: rgba(0 , 0 ,0, .6)

	//верхняя панелька для всех инструментов
.drag-panel
	border-radius: 5px 5px 0 0
	width: 100%
	height: 17px
	line-height: 15px
	background: $header_color
	display: flex
	justify-content: flex-end
	border-bottom: 1px solid MINTCREAM
	&-item
		transition: .4s 
		width: 18px
		height: 100%
		padding: 0px 3px
		cursor: pointer
		&:hover
			border-left: 1px solid MINTCREAM
			border-right: 1px solid MINTCREAM
	&-close	
		position: relative
		&::before
			position: absolute
			top: 50%
			left: 50%
			content: ''
			width: 11px
			height: 2px
			background: MINTCREAM
			transform: translate(-50% , -50%) rotate(45deg)
		&::after
			@extend .drag-panel-close::before
			transform: translate(-50% , -50%) rotate(-45deg)
	&-arrow
		display: flex
		justify-content: center	
		align-items: center		
		transform: rotate(180deg)
	&-arrow-active
		transform: rotate(0deg)	

.drag-place
	width: 100%
	height: 25px
	display: flex
	justify-content: center
	align-items: center

//инструменты
.tools-wrapper
	box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.2), 0 9px 46px 8px rgba(0, 0, 0, 0.2), 0 11px 15px -7px rgba(0, 0, 0, .1)
	position: absolute
	z-index: $high
	background: $header_color
	display: flex
	flex-wrap: wrap
	justify-content: center
	width: 40px
	left: 100px
	top: 100px
	border-radius: 5px
	transition: width .4s
	div.tool	
		padding: 5px
		width: 34px
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer
	div.tool:hover
		background: #777	


	//обертка canvas
.wrapper
	display: none
	z-index: $low
	position: relative
	overflow: scroll
	.coords-x-wrapper
		font-size: .7rem
		line-height: 30px
		display: flex
		color: white
		position: absolute
		left: 0
		top: 0
		z-index: $middle
		height: 20px
		width: 100%
		background: $coords_color
		color: #ccc
		.coords-x
			width: calc(100% - 20px)
			display: flex
			div
				flex-shrink: 0
				height: 20px
				text-indent: 2px
				box-sizing: border-box
				border-left: 1px solid #888
	.coords-y-wrapper
		@extend .coords-x-wrapper
		line-height: inherit
		position: absolute
		z-index: $middle - 10
		flex-direction: column
		left: 0
		top: 0
		height: 100%
		width: 20px	
		.coords-y
			div
				flex-shrink: 0
				white-space: pre-wrap
				text-align: center
				box-sizing: border-box
				border-top: 1px solid #888
				width: 20px


.zoom-wrapper
	left: 0
	top: 0
	position: relative
	display: none
	
	.canvas-wrapper.rubber-canvas-active	
		// cursor: url(../img/rubber-cursor.cur) , pointer	 						
	.canvas-wrapper
		zoom: 1
		background: #fff
		display: block
		textarea
			position: absolute
			font-size: 22px
			font-weight: 400
			border: 1px dashed black
			&:focus
				outline: none
		.main-canvas
			display: block	
		.canvas
			display: block
			position: absolute	 	


.close-wrapper
	position: absolute
	left: 0
	right: 0
	top: 0
	height: 35px
	background: #fff
	.close
		transition: .3s
		position: absolute
		padding: 0
		background: transparent
		border: none
		right: 0
		top: 0
		margin: auto
		bottom: 0
		width: 35px
		height: 35px
		&:focus
			outline: none
		&:hover
			background: CRIMSON
			cursor: pointer
			&::before  
				background: white
			&::after
				@extend .close:hover::before
		&::before
			transition: .3s
			position: absolute
			left: 50%
			top: 50%
			content: ''
			display: block
			width: 75%
			height: 2px
			background: $settings_color
			transform: translate(-50% , -50%) rotate(45deg)
		&::after
			@extend .close::before
			transform: translate(-50% , -50%) rotate(-45deg)
		
		
		
.apply
	position: absolute
	right: 40px
	bottom: 25px
	height: 35px
	transition: .3s
	font-size: 22px
	padding: 5px
	border: none
	border-radius: 3px
	color: white
	background: $header_color
	&:active
		transform: scale(0.95)
	&:focus
		outline: none
	&:hover
		background: darken($header_color, 10%)
		cursor: pointer	

.settings-window-size
	z-index: $very_high
	box-shadow: 0px 0px 15px rgba(0 , 0 ,0 , .3)
	border: 1px solid blue
	font-size: 25px
	border-radius: 3px
	display: none
	background: $canvas_color
	position: fixed
	padding: 75px 40px
	.input-wrapper
		display: flex
		margin-bottom: 15px
		justify-content: space-between
		input	
			display: block
			padding: 5px
			border-radius: 3px
			border: none
			&:focus
				outline: none
		label
			margin-right: 10px
			display: block
			color: white	
	

.settings-new-file
	@extend .settings-window-size