

$canvas_color: #282828
$header_color: #535353
$vk_color: #e1e5eb	
$settings_color: #34495E
$link_color: #285473
$apply_color: #16A085

$menu_tools_color: #424242

$coords_color: #474747
$bg_tools: #2F4F4F

$input_color: #454545
$label_color: #d6d6d6

$very_very_high: 100000
$very_high: 10000	
$high: 1000
$middle: 100
$low: 10

$border_color: rgba(MINTCREAM , .5)

label 
	display: block

.h-100
	height: 100%

.select 
	outline: none
	padding: 5px 10px
	background: $input_color
	color: white

.input
	color: white
	background: $input_color
	margin-left: 5px
	width: 25px
	height: 15px
	outline: none
	border: none
	border-radius: 3px	

.colpick_full
	border: 1px solid $border_color 
	z-index: $very_high 
	background: $header_color
	color: white 		
	.colpick_submit
		color: white 
		border: 1px solid $border_color 		
		background: $input_color 
		&:hover
			background: darken($input_color , 10%) 
	
	.colpick_field , .colpick_hex_field
		border: none
		background: none 
		display: flex
		.colpick_field_letter
			background: none
			color: white
		input
			position: static
			color: white 
			border: 1px solid $border_color 		
			background: $input_color 	
		.colpick_field_arrs  
			position: static
			color: white !important
			border: 1px solid $border_color !important		
			background: $input_color !important
			.colpick_field_uarr
				border-bottom-color: white 
			.colpick_field_darr
				border-top-color: white 							
			
			

			

.tool-active
	border: 1px solid rgba(0,0,0,.5)
	box-shadow: none !important
	height: 100% !important
	position: static !important
	border-radius: 0px !important

%flex-end
	display: flex
	align-items: center
	justify-content: flex-end
	margin-bottom: 5px
	cursor: pointer

.pointer
	cursor: pointer	
		


*
	box-sizing: border-box

html
	height: 100%
	overflow: hidden
	box-sizing: border-box
	font-size: 14px
	user-select: none

body
	background: $canvas_color
	box-sizing: border-box
	font-family: sans-serif
	font-size: 1rem
	height: 100%
	margin: 0
	z-index: -1000
	position: relative


ul
	margin: 0
	padding: 0
	list-style: none



.header
	margin: 0
	background: $header_color
	z-index: $middle
	.header-options
		height: 100%
		border-bottom: 1px solid $border_color
		display: flex	
		&-item
			color: white
			position: relative
			.header-options-badge
				height: 100%
			&:hover
				.header-options-dropdown
					display: block
				.header-options-badge
					color: black
					cursor: pointer
					background: MINTCREAM
					svg
						transform: rotate(180deg)


		&-dropdown
			border: 1px solid black
			z-index: $very_very_high
			display: none	
			position: absolute
			left: -1px
			top: 100%
			background: #eee
			& > div
				cursor: pointer
				text-align: center
				font-size: .9rem
				white-space: pre
				color: $link_color
				text-decoration: none
				background: #eee
				padding: 8px 8px	
				display: block
				&:hover
					background: $vk_color	
		&-badge
			color: MINTCREAM
			padding: 0px 10px
			transition: .3s
			display: flex
			align-items: center
			svg
				margin-left: 5px
				transition: .2s transform
						


.header
	.header-panel-settings
		color: MINTCREAM
		display: flex
		height: 35px
		border-bottom: 1px solid $border_color
		.panel.active
			display: flex
		.panel
			display: none
			align-items: center
			label
				margin-left: 10px
				display: flex
				align-items: center	
				color: $label_color
			img
				margin-left: 8px			
			input[type="color"]
				background: transparent	
				width: 40px
				height: 25px
				padding: 0
			
				




	//верхняя панелька для всех инструментов
.drag-panel
	border-radius: 5px 5px 0 0
	width: 100%
	height: 17px
	line-height: 15px
	background: $header_color
	display: flex
	justify-content: flex-end
	border-bottom: 1px solid $border_color
	&-item
		transition: .4s 
		width: 18px
		height: 100%
		padding: 0px 3px
		cursor: pointer
		&:hover
			border-left: 1px solid $border_color
			border-right: 1px solid $border_color
	&-close	
		position: relative
		&::before
			position: absolute
			top: 50%
			left: 50%
			content: ''
			width: 11px
			height: 2px
			background: MINTCREAM
			transform: translate(-50% , -50%) rotate(45deg)
		&::after
			@extend .drag-panel-close::before
			transform: translate(-50% , -50%) rotate(-45deg)
	&-arrow
		display: flex
		justify-content: center	
		align-items: center		
		transform: rotate(180deg)
	&-arrow-active
		transform: rotate(0deg)	

.drag-place
	width: 100%
	height: 20px
	display: flex
	justify-content: center
	align-items: center

//инструменты
.tools-wrapper
	flex-shrink: 0
	box-shadow: 0 0px 14px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2)
	position: absolute 
	z-index: $high
	background: $header_color
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-content: flex-start
	width: 40px
	left: 100px
	top: 100px
	border-radius: 5px
	overflow: hidden
	div.tool-item	
		padding: 5px
		width: 32px
		height: 32px
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer
	div.tool-item:hover
		background: #777	
	div.tool-item.active
		background: #777	



// инструменты текста 
.text-tools-wrapper
	background: $header_color
	position: absolute
	left: 500px
	top: 500px
	z-index: $high
	border-radius: 5px
	.font-wrapper
		padding: 0px 10px 10px 10px
	.font-item
		display: flex
		justify-content: space-between
		margin-bottom: 10px
		.font-style
			margin-left: 10px
		.font-size
			@extend  %flex-end
		.font-line-height
			@extend  %flex-end
		.font-word-space
			@extend  %flex-end			


	//обертка canvas
.main-wrapper
	position: relative
	display: flex
	.main-wrapper-canvas
		width: 100%
		height: 100%
		display: flex
		flex-direction: column
		position: relative
		visibility: hidden
		.title-file-wrapper
			font-size: 1.2rem
			line-height: 25px
			background: $menu_tools_color
			border-bottom: 1px solid $border_color
			.title-file
				height: 100%
				padding: 0px 8px 0px 8px
				transition: .3s
				color: white
				display: inline-block
				cursor: pointer
				span
					color: rgba(255 ,255 ,255, .6)
					margin-left: 5px
				&:hover
					background: MINTCREAM
					color: black
					span
						color: rgba(0 , 0 ,0, .6)
			.title-file.active
				background: MINTCREAM
				color: black 
				span
					color: rgba(0 , 0 ,0, .6)
		.work-wrapper
			flex: 1
			position: relative
			overflow: scroll
			.zoom-wrapper.active
				display: inline-block
			.zoom-wrapper
				display: none
				position: absolute
				.canvas-wrapper.rubber-canvas-active	
					// cursor: url(../img/rubber-cursor.cur) , pointer	 						
				.canvas-wrapper
					zoom: 1
					display: block
					textarea
						position: absolute
						font-size: 22px
						font-weight: 400
						border: 1px dashed black
						&:focus
							outline: none
					.first-canvas
						display: block	
					.canvas
						display: block
						position: absolute	
					canvas
						position: absolute
						left: 0
						top: 0	 	
		.coords-x-wrapper
			font-size: .7rem
			line-height: 30px
			display: flex
			color: white
			position: absolute
			left: 0
			top: 0
			z-index: $low + 10
			height: 20px
			width: 100%
			background: $coords_color
			color: #ccc
			.coords-x
				width: calc(100% - 20px)
				display: flex
				div
					flex-shrink: 0
					height: 20px
					text-indent: 2px
					border-left: 1px solid #888
		.coords-y-wrapper
			@extend .coords-x-wrapper
			line-height: inherit
			position: absolute
			z-index: $low 
			flex-direction: column
			left: 0
			top: 0
			height: 100%
			width: 20px	
			.coords-y
				div
					flex-shrink: 0
					white-space: pre-wrap
					text-align: center
					border-top: 1px solid #888
					width: 20px
	.casing
		z-index: $very_high
		position: absolute
		&-left
			left: 0
			top: 0
			width: 10px
			height: 100%
			background: rgba(0,0,0,.35)
		&-right
			right: 0
			top: 0
			width: 10px
			height: 100%	
			background: rgba(0,0,0,.35)




.close-wrapper
	position: absolute
	left: 0
	right: 0
	top: 0
	height: 25px
	background: #fff
	.close
		transition: .3s
		position: absolute
		padding: 0
		background: transparent
		border: none
		right: 0
		top: 0
		margin: auto
		bottom: 0
		width: 25px
		height: 25px
		&:focus
			outline: none
		&:hover
			background: CRIMSON
			cursor: pointer
			&::before  
				background: white
			&::after
				@extend .close:hover::before
		&::before
			transition: .3s
			position: absolute
			left: 50%
			top: 50%
			content: ''
			display: block
			width: 75%
			height: 2px
			background: $settings_color
			transform: translate(-50% , -50%) rotate(45deg)
		&::after
			@extend .close::before
			transform: translate(-50% , -50%) rotate(-45deg)
		
		
		
.apply
	position: absolute
	right: 40px
	bottom: 25px
	transition: .3s
	font-size: 1.1rem
	padding: 5px 8px
	border: none
	border-radius: 3px
	color: white
	background: $input_color
	&:active
		transform: scale(0.95)
	&:focus
		outline: none
	&:hover
		background: darken($input_color, 5%)
		cursor: pointer	

.header-settings-window-size
	z-index: $very_high
	box-shadow: 0px 0px 15px rgba(0 , 0 ,0 , .3)
	border: 1px solid blue
	font-size: 25px
	border-radius: 3px
	display: none
	background: $canvas_color
	position: fixed
	padding: 75px 40px
	.input-wrapper
		display: flex
		align-items: center
		margin-bottom: 15px
		justify-content: flex-end
		input	
			background: $input_color
			color: white
			display: block
			padding: 5px
			border-radius: 3px
			border: none
			outline: none				
		label
			font-size: 1.1rem 
			color: $label_color
			margin-right: 10px
			display: block
				
	

.header-settings-new-file
	@extend .header-settings-window-size