@import '../sass/_help'

$canvas_color: #282828
$header_color: #535353
$vk_color: #e1e5eb	
$settings_color: #34495E
$link_color: #285473
$apply_color: #16A085

$menu_tools_color: #424242

$coords_color: #474747
$bg_tools: #2F4F4F

$input_color: #454545
$label_color: #d6d6d6

$very_very_high: 100000
$very_high: 10000	
$high: 1000
$middle: 100
$low: 10


label 
	display: block





	

.colpick_full
	border: 1px solid $border_color 
	z-index: $very_high 
	background: $main-color
	color: $text-color 		
	.colpick_submit
		color: $text-color 
		border: 1px solid $border_color 		
		background: $bg-color 
		&:hover
			background: darken($bg-color , 10%) 

	.colpick_field , .colpick_hex_field
		border: none
		background: none 
		display: flex
		width: auto
		.colpick_field_letter
			padding: 0 4px
			width: auto
			background: none
			color: $text-color
		input
			width: 47px
			padding-right: 4px
			position: static
			color: $text-color 					
			background: $bg-color
			+b()
		.colpick_field_arrs
			padding: 2px 2px
			width: auto
			height: auto 
			position: static
			color: $text-color 					
			background: $bg-color
			+b()
			border-left: none
			.colpick_field_uarr
				margin: 2px 0
				position: static
				border-bottom-color: $text-color 
			.colpick_field_darr
				margin: 2px 0
				position: static
				border-top-color: $text-color 							
			
	.colpick_hex_field
		input
			width: 68px
			padding-right: 5px		

			

*
	box-sizing: border-box

html
	height: 100%
	overflow: hidden
	font-size: 14px
	user-select: none

body
	background: $bg-body
	box-sizing: border-box
	font-family: sans-serif
	font-size: 1rem
	height: 100%
	margin: 0
	position: relative


ul
	margin: 0
	padding: 0
	list-style: none


#app 
	height: 100%
	position: relative




.bg-anim-icon
	position: relative
	cursor: pointer
	img
		position: relative	
.bg-anim-icon::before
	content: ''
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
	transition: transform .2s, opacity .3s
	transform: scale(1.3)
	opacity: 0
	background: $bg-color
.bg-anim-icon:hover::before
	opacity: 1
	transform: scale(1)


.tools
	background: $main-color



.header
	margin: 0
	background: $main-color
	+index($level0)
	.header-options
		height: 100%
		+bb()
		display: flex	
		&-item
			color: white
			position: relative
			.header-options-badge
				height: 100%
			&:hover
				.header-options-dropdown
					visibility: visible
				.header-options-badge
					color: black
					cursor: pointer
					background: MINTCREAM
					svg
						transform: rotate(180deg)


		&-dropdown
			border: 1px solid black
			z-index: $very_very_high
			visibility: hidden	
			position: absolute
			left: -1px
			top: 100%
			background: #eee
			& > div
				cursor: pointer
				text-align: center
				font-size: .9rem
				white-space: nowrap
				color: $link_color
				text-decoration: none
				background: #eee
				padding: 8px 8px	
				display: block
				&:hover
					background: $vk_color	
		&-badge
			color: MINTCREAM
			padding: 0px 10px
			transition: .3s
			display: flex
			align-items: center
			svg
				margin-left: 5px
				transition: .2s transform
						


	//верхняя панелька для всех инструментов
.drag-panel
	border-radius: 5px 5px 0 0
	width: 100%
	height: 17px
	line-height: 15px
	background: $header_color
	display: flex
	justify-content: flex-end
	border-bottom: 1px solid $border_color
	&-item
		transition: .4s 
		width: 18px
		height: 100%
		padding: 0px 3px
		cursor: pointer
		&:hover
			border-left: 1px solid $border_color
			border-right: 1px solid $border_color
	&-close	
		position: relative
		&::before
			position: absolute
			top: 50%
			left: 50%
			content: ''
			width: 11px
			height: 2px
			background: MINTCREAM
			transform: translate(-50% , -50%) rotate(45deg)
		&::after
			@extend .drag-panel-close::before
			transform: translate(-50% , -50%) rotate(-45deg)
	&-arrow
		display: flex
		justify-content: center	
		align-items: center		
		transform: rotate(180deg)
	&-arrow-active
		transform: rotate(0deg)	

.drag-place
	width: 100%
	height: 20px
	display: flex
	justify-content: center
	align-items: center



	







	
	
		

	
