@import 'config-style'

$coords_color: #474747
$bg_tools: #2F4F4F


// perfect-scrollbar

.ps__rail-x, .ps__rail-y
	+index($level5)

.ps
	.ps__rail-y, .ps__rail-x
		&:hover, &.ps--clicking, &:focus
			background: transparent
		.ps__thumb-y, .ps__thumb-x
			transition: .2s		
			background: var(--bg-body)
	.ps__rail-y
		width: 10px
		.ps__thumb-y
			width: 5px
			right: 0
			margin-right: 3px
		&:hover, &.ps--clicking, &:focus
			.ps__thumb-y
				width: 100%
				margin: 0
	.ps__rail-x
		height: 10px
		.ps__thumb-x
			height: 5px
			bottom: 0
			margin-bottom: 3px
		&:hover, &.ps--clicking, &:focus
			.ps__thumb-x
				height: 100%
				margin: 0

.canvas-wrapper.ps
	.ps__thumb-y, .ps__thumb-x		
		background: var(--bg-color)



// jquery-colpick
.colpick_full
	+b()
	+index($level5)
	background: var(--main-color)
	color: var(--text-color) 		
	.colpick_submit
		color: var(--text-color) 
		+b() 		
		background: var(--bg-color) 
		&:hover
			background: var(--bg-color) 

	.colpick_field , .colpick_hex_field
		border: none
		background: none 
		display: flex
		width: auto
		.colpick_field_letter
			padding: 0 4px
			width: auto
			background: none
			color: var(--text-color)
		input
			width: 47px
			padding-right: 4px
			position: static
			color: var(--text-color) 					
			background: var(--bg-color)
			+b()
		.colpick_field_arrs
			padding: 2px 2px
			width: auto
			height: auto 
			position: static
			color: var(--text-color) 					
			background: var(--bg-color)
			+b()
			border-left: none
			.colpick_field_uarr
				margin: 2px 0
				position: static
				border-bottom-color: var(--text-color) 
			.colpick_field_darr
				margin: 2px 0
				position: static
				border-top-color: var(--text-color) 							
			
	.colpick_hex_field
		input
			width: 68px
			padding-right: 5px		
			
// main style

*
	box-sizing: border-box

html
	height: 100%
	overflow: hidden
	font-size: 14px
	user-select: none
	color: var(--text-color)


body
	background: var(--bg-body)
	box-sizing: border-box
	font-family: sans-serif
	font-size: 1rem
	height: 100%
	margin: 0
	position: relative
	




ul
	margin: 0
	padding: 0
	list-style: none


#app 
	height: 100%
	display: flex
	flex-direction: column
	position: relative

#app.invert
	filter: invert(100%)
	.no-invert
		filter: invert(100%)

#app.modal
	main, header
		filter: blur(3px)


.bg-anim-icon
	position: relative
	cursor: pointer
	img, svg
		position: relative	
.bg-anim-icon::before
	content: ''
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
	transition: transform .2s
	transform: scale(0)
	opacity: 1
	background: var(--bg-color)
.bg-anim-icon:hover::before
	transform: scale(1)

.tools
	background: var(--main-color)




	







	
	
		

	
